# SQL Server
FITTRACK_DB_USER=your_database_username
FITTRACK_DB_PASS=your_database_password
FITTRACK_DB_SERVER=your_sql_server_hostname
FITTRACK_DB_NAME=your_database_name

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Ollama
OLLAMA_URL=http://127.0.0.1:11434/api/generate
OLLAMA_TEXT_MODEL=aminadaven/dictalm2.0-instruct:q4_k_m
OLLAMA_VISION_MODEL=llava
OLLAMA_TIMEOUT=1200
OLLAMA_TEXT_NUM_CTX=2048
OLLAMA_TEXT_NUM_PREDICT=256
